/*
@font-face {
  font-family: Cantarell-BoldItalic;
  src: url("/assets/Cantarell-BoldItalic.ttf");
}
*/
h1 {
  font-family: "Audiowide", "sans-serif";
  color: white;
  text-align: center;
}
html, body {
  background-color: black;
  margin: 0rem;
  padding: 0rem;
}
